{% extends "base.html" %}

{% block title %}
<title>ORA360° Report</title>
{% endblock %}

{% block content %}
<!-- Tab content -->
<div class="pure-g tabcontent" id="Backup">
    <h1>Отчет о статусе резервного копирования</h1>
    <p><b>Период:</b> за последние 7 дней</p>
    <br>
    <h2>Сводная информация по бд</h2>
    <div class="backup_summary">
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <td> DB Name</td>
                <td> Backups</td>
                <td> Incr LV0</td>
                <td> Incr LV1</td>
                <td> Recvr Area</td>
                <td> Completed</td>
                <td> Failed</td>
                <td> Input Size</td>
                <td> Output Size</td>
            </tr>
            </thead>
            <tbody>
            {% for r in backup_summary_list %}
                {% if r.failed >= r.incr_lv0 or r.completed == 0 %}
                    {% set tr_class = 'error' %}
                {% elif r.failed > 0 %}
                    {% set tr_class = 'warning' %}
                {% else %}
                    {% set tr_class = 'success' %}
                {% endif %}
                <tr>
                    <td class={{ tr_class }}><a href="#{{ r.db_name }}"> {{ r.db_name }} </a></td>
                    <td class={{ tr_class }}>{{ r.backups}}</td>
                    <td class={{ tr_class }}>{{ r.incr_lv0}}</td>
                    <td class={{ tr_class }}>{{ r.incrl_lv1 }}</td>
                    <td class={{ tr_class }}>{{ r.recvr_area}}</td>
                    <td class={{ tr_class }}>{{ r.completed}}</td>
                    <td class={{ tr_class }}>{{ r.failed}}</td>
                    <td class={{ tr_class }}>{{ r.input_bytes|filesizeformat(true) }}</td>
                    <td class={{ tr_class }}>{{ r.output_bytes|filesizeformat(true) }}</td>
                </tr>
                {% else %}
                <tr>
                    <td><em>no backups found</em></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Детализированая информация по каждой бд</h2>
    <div class="backup_details">
        {% for db_name, backup_details_list in backup_detail_dict.items() %}
        <p id="{{db_name}}">{{db_name}}</p>
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <td> DB Name</td>
                <td> StartOn</td>
                <td> EndOn</td>
                <td> Duration</td>
                <td> Input Size</td>
                <td> Output Size</td>
                <td> Input Type</td>
                <td> Incr LV</td>
                <td> Output Device</td>
                <td> Status</td>
            </tr>
            </thead>
            <tbody>
            {% for r in backup_details_list %}
            {% if r.status == 'COMPLETED WITH ERRORS' or r.status == 'FAILED' %}
            {% set tr_class = 'error' %}
            {% elif r.status == 'COMPLETED WITH WARNINGS' %}
            {% set tr_class = 'warning' %}
            {% else %}
            {% set tr_class = 'success' %}
            {% endif %}
            <tr>
                <td class={{ tr_class }}>{{ r.db_name }}</td>
                <td class={{ tr_class }}>{{ r.start_time}}</td>
                <td class={{ tr_class }}>{{ r.end_time }}</td>
                <td class={{ tr_class }}>{{ r.hrs }}</td>
                <td class={{ tr_class }}>{{ r.input_bytes|filesizeformat(true) }}</td>
                <td class={{ tr_class }}>{{ r.output_bytes|filesizeformat(true) }}</td>
                <td class={{ tr_class }}>{{ r.input_type }}</td>
                <td class={{ tr_class }}>{{ r.incr_lv }}</td>
                <td class={{ tr_class }}>{{ r.output_device_type }}</td>
                <td class={{ tr_class }}>{{ r.status }}</td>
            </tr>
            {% else %}
            <tr>
                <td><em>no backups found</em></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}

    </div>
</div>
<div class="pure-g tabcontent" id="ASH">
    <h1>Отчет об активных сессиях </h1>
    <p><b>Период:</b> за последние 7 дней</p>
    <div class="ash_graph">
        <img src="data:image/svg+xml;base64, {{ ash_graph }}" alt="ASH Graph" />
    </div>
</div>
<div class="pure-g tabcontent" id="Errors">
    <h1>Список ошибок в базе данных</h1>
    <p><b>Период:</b> за последние 7 дней</p>
    <br>
    <h2>Alert.log</h2>
    <div class="ora_errors">
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <td> Date </td>
                <td> Host </td>
                <td> Module </td>
                <td> Message </td>
            </tr>
            </thead>
            <tbody>
            {% for r in ora_err_list %}
                {% set tr_class = 'warning' %}
                <tr>
                    <td class={{ tr_class }}>{{ r.originating_timestamp}}</td>
                    <td class={{ tr_class }}>{{ r.host_id}}</td>
                    <td class={{ tr_class }}>{{ r.module_id }}</td>
                    <td class={{ tr_class }}>{{ r.message_text}}</td>
                </tr>
                {% else %}
                <tr>
                    <td><em>no errors found</em></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}